
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carFilterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}