.page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.from{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.fromDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.DatePicker{
    margin: 10px !important;;
}
.FilterButton{
    margin: 20px !important;;
}